<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a38269">  <td>21/01/09 02:43:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppiumTest.IOSApps()[pri:0, instance:qaclickacademy.AppiumTest@1356d4d4]">IOSApps</td> 
  <td>main@1354083458</td>   <td></td> </tr>
<tr bgcolor="a38269">  <td>21/01/09 02:43:09</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppiumTest.NativeAPpAndroid()[pri:0, instance:qaclickacademy.AppiumTest@1356d4d4]">NativeAPpAndroid</td> 
  <td>main@1354083458</td>   <td></td> </tr>
<tr bgcolor="7bbcae">  <td>21/01/09 02:43:09</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.BrowserAUtomation()[pri:0, instance:qaclickacademy.SeleniumTest@c03cf28]">BrowserAUtomation</td> 
  <td>main@1354083458</td>   <td></td> </tr>
<tr bgcolor="7bbcae">  <td>21/01/09 02:43:09</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.elementsUi()[pri:0, instance:qaclickacademy.SeleniumTest@c03cf28]">elementsUi</td> 
  <td>main@1354083458</td>   <td></td> </tr>
<tr bgcolor="fea1ea">  <td>21/01/09 02:43:09</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RESTAPITest.deleteTwitter()[pri:0, instance:qaclickacademy.RESTAPITest@1329eff]">deleteTwitter</td> 
  <td>main@1354083458</td>   <td></td> </tr>
<tr bgcolor="fea1ea">  <td>21/01/09 02:43:09</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RESTAPITest.postJira()[pri:0, instance:qaclickacademy.RESTAPITest@1329eff]">postJira</td> 
  <td>main@1354083458</td>   <td></td> </tr>
</table>
